body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: #25252d;
  background-color: white;
}

body .attribution {
  font-size: 11px;
  text-align: center;
}

body .attribution a {
  color: #3e52a3;
}

body main {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

body main h1 {
  font-size: 4em;
}

body main h3 {
  font-size: 2rem;
}

body main h3,
body main h4 {
  color: #1f3f5b;
}

body main h1,
body main h3,
body main h4 {
  font-weight: 600;
}

body main section {
  padding: 2rem;
  /* Styles related to the landing section of the application */
  /* Styles related to the Design Future section of the application */
  /* Styles related to the State of art section of the application */
  /* Styles related to the source information section of the application */
  /* Styles related to the footer or site map section of the application */
}

body main section p {
  margin: 2rem;
}

body main section .info-container {
  padding: 3rem;
}

body main section .info-container h4 {
  margin-bottom: 1.8rem;
}

body main section h3 {
  text-align: center;
  margin: 2rem;
  margin: 6rem 2rem 0 2rem;
}

body main section.landing-section {
  color: white;
  background: #ff3d54;
  /* For browsers that do not support gradients */
  background-image: url(/images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: url(/images/bg-pattern-intro.svg), linear-gradient(to right, #ff8f70, #ff3d54);
  background-repeat: no-repeat, no-repeat;
  background-position: 26% 52%, center;
  background-size: 225%, cover;
  border-bottom-left-radius: 6em 6em;
  padding: 2em;
  /* Navigation Bar styles for the Desktop version */
}

body main section.landing-section button {
  border-radius: 2rem;
  font-size: 1em;
  border: 2px solid white;
  padding: 12px 8px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  min-width: 8rem;
}

body main section.landing-section .white-button {
  background-color: white;
  color: #ff3d54;
}

body main section.landing-section .white-button:hover,
body main section.landing-section .default-button {
  background: transparent;
  color: white;
}

body main section.landing-section .default-button.login {
  border: none;
}

body main section.landing-section .default-button.login:hover,
body main section.landing-section .default-button.login :active {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main section.landing-section .nav-bar-container {
  margin: 1rem 2.5rem;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown {
  padding: 8px 0;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0.8rem;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-toggle:hover {
  text-decoration: underline;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-toggle:active:focus, body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-toggle:active, body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-toggle::after {
  content: url(/images/icon-arrow-light.svg);
  border-top: 0;
  position: relative;
  top: 3px;
  right: 3px;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-menu {
  border-radius: 10px;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown .dropdown-menu a:hover {
  font-weight: 600;
  background-color: inherit;
}

body main section.landing-section .nav-bar-container .nav-bar .dropdown.show .dropdown-toggle::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 28px;
  left: 6px;
}

body main section.landing-section .nav-bar-container .nav-bar strong {
  font-weight: 600;
  font-size: 3rem;
  padding: 0 3.8rem 0 1rem;
}

body main section.landing-section .nav-bar-container .login-container {
  float: right;
}

body main section.landing-section .intro-container {
  text-align: center;
  margin: 6rem 2rem;
}

body main section.landing-section .intro-container h1,
body main section.landing-section .intro-container .header-caption,
body main section.landing-section .intro-container .info-btn-container {
  text-align: center;
}

body main section.landing-section .intro-container h1 {
  margin-bottom: 1rem;
}

body main section.landing-section .intro-container .info-btn-container {
  margin: 2rem;
}

body main section.landing-section .intro-container .info-btn-container button {
  margin: 0.5rem;
}

body main section.landing-section .intro-container .header-caption {
  color: white;
  font-weight: 300;
}

@media screen and (max-width: 376px) {
  body main section.landing-section {
    background-position: 35% 35%, center;
    padding: 1rem;
    background-size: 300%, cover;
  }
  body main section.landing-section .intro-container {
    margin: 0;
    padding: 1rem;
  }
  body main section.landing-section .intro-container h1 {
    font-size: 2rem;
    margin: 4rem 0 0 0;
    padding: 0 0.5rem;
  }
  body main section.landing-section .nav-bar-container {
    margin: 0;
  }
  body main section.landing-section .nav-bar-container .nav-bar {
    margin: 1.5rem 0;
    padding: 0;
  }
  body main section.landing-section .nav-bar-container .nav-bar .dropdown.desktop-version {
    display: none;
  }
  body main section.landing-section .nav-bar-container .nav-bar .hamburger-icon {
    background-image: url(/images/icon-hamburger.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin: 12px;
    position: absolute;
    right: 0;
  }
  body main section.landing-section .nav-bar-container .modal-dialog {
    top: 15vh;
  }
  body main section.landing-section .nav-bar-container .modal-dialog .modal-body div {
    text-align: center;
    padding: 1rem;
  }
  body main section.landing-section .login-container {
    display: none;
  }
  body main section.landing-section .intro-container .header-caption {
    font-size: 1rem;
    padding: 1rem;
  }
  body main section.landing-section .intro-container .info-btn-container {
    margin: 1rem 0 6rem 0;
  }
  body main section.landing-section .intro-container .info-btn-container button {
    font-size: 0.8rem;
    padding: 8px 8px;
  }
}

body main section.design-future .editor-desk-img {
  position: relative;
  bottom: 6rem;
  left: 3rem;
}

body main section.design-future .info-container {
  padding: 7.5rem 1rem 5rem 7rem;
}

body main section.design-future .editor-desk-mobile {
  display: none;
}

@media screen and (max-width: 376px) {
  body main section.design-future h3 {
    margin: 4rem 1rem 0.5rem 1rem;
  }
  body main section.design-future .info-container {
    padding: 1rem;
  }
  body main section.design-future .info-container h4 {
    margin: 0 2rem 1.8rem 2rem;
  }
  body main section.design-future .editor-desk {
    display: none;
  }
  body main section.design-future .editor-desk-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  body main section.design-future .editor-desk-mobile .editor-desk-mobile-img {
    margin: 2rem 0rem;
    height: 20rem;
    width: 24rem;
  }
}

body main section.state-of-art {
  height: 25rem;
  padding: 0 1rem 3rem 1rem;
  color: white;
  background: #2c2d3f;
  /* For browsers that do not support gradients */
  background-image: url(/images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(to right, #2c2d3f, #3f4164);
  background-position: -50% 85%, 0 0;
  border-bottom-left-radius: 6em 6em;
  border-top-right-radius: 6em 6em;
  background-repeat: no-repeat, no-repeat;
}

body main section.state-of-art h3 {
  color: white;
  margin: 1rem 0;
  text-align: left;
}

body main section.state-of-art .info-container {
  float: right;
  padding: 6rem 6rem 3rem 8rem;
}

body main section.state-of-art .mobile-phones img {
  position: relative;
  bottom: 17%;
  left: 19%;
}

body main section.state-of-art .row,
body main section.state-of-art .info-container,
body main section.state-of-art .mobile-phones {
  height: inherit;
}

@media screen and (max-width: 376px) {
  body main section.state-of-art {
    margin-top: 10rem;
    background-position: 48% 322%, 0 0;
    background-size: 170%, cover;
    height: 35rem;
  }
  body main section.state-of-art .mobile-phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: 36%;
  }
  body main section.state-of-art .mobile-phones img {
    height: 75%;
    width: 115%;
    left: 0;
    bottom: 0;
  }
  body main section.state-of-art .info-container {
    padding: 1.9rem;
    position: relative;
    bottom: 24rem;
  }
  body main section.state-of-art .info-container h3 {
    text-align: center;
  }
}

body main section.source-info {
  height: 60rem;
  margin: 5rem 0 8rem 0;
  padding: 2rem 0;
}

body main section.source-info .row {
  height: inherit;
}

body main section.source-info .info-container {
  float: right;
  padding-top: 12rem;
  padding-left: 8rem;
}

body main section.source-info .desktop {
  background-image: url(/images/illustration-laptop-desktop.svg);
  background-position: 71% 10%;
  background-size: 160%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 376px) {
  body main section.source-info {
    margin: 2rem 0;
  }
  body main section.source-info .info-container {
    padding: 0 2.5rem;
  }
  body main section.source-info .desktop {
    height: 20rem;
    background-image: url(/images/illustration-laptop-mobile.svg);
    background-position: 50% 50%;
    background-size: 120%;
    background-repeat: no-repeat;
  }
}

body main section.footer-container {
  color: white;
  background-color: #25252d;
  border-top-right-radius: 6em 6em;
}

body main section.footer-container .brand-name {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

body main section .site-map .menu-columns {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

body main section .site-map .menu-columns li {
  padding: 0.4rem 6rem;
}

body main section .site-map .menu-columns li:hover {
  cursor: pointer;
  text-decoration: underline;
}

body main section .site-map .menu-columns .menu-category {
  font-weight: 600;
  padding: 2rem 6rem;
}

body main section .site-map .menu-columns .menu-category:hover {
  cursor: default;
  text-decoration: none;
}

body main section .site-map .menu-columns:first-child {
  padding-left: 0;
}

body main section .site-map .menu-columns:first-child li {
  padding-left: 0;
}

@media screen and (max-width: 376px) {
  body main section .brand-name {
    margin: 1.5rem 0;
  }
  body main section .site-map .menu-columns {
    display: block;
    padding-left: 0;
  }
  body main section .site-map .menu-columns li {
    text-align: center;
  }
  body main section .site-map .menu-columns:first-child li {
    padding-left: 6rem;
  }
}

@media screen and (max-width: 376px) {
  body section {
    padding: 1.5rem;
  }
  body h3 {
    font-size: 1.5rem;
  }
  body h4 {
    font-size: 1.5rem;
  }
  body .info-container {
    text-align: center;
  }
  body .info-container br {
    display: none;
  }
  body .modal-backdrop {
    background-color: transparent;
  }
}

body.modal-open .hamburger-icon {
  background-image: url(/images/icon-close.svg) !important;
}
/*# sourceMappingURL=styles.css.map */