// Primary

$Light-red-CTA-text: hsl(356, 100%, 66%);
$Very-light-red-CTA: hsl(355, 100%, 74%);
$Very-dark-blue-headings: hsl(208, 49%, 24%);

// Neutral

$White-text: hsl(0, 0%, 100%);
$Grayish-blue-footer-text: hsl(240, 2%, 79%);
$Very-dark-grayish-blue: hsl(207, 13%, 34%);
$Very-dark-black-blue: hsl(240, 10%, 16%);

// Gradient

// Background gradient - Intro/CTA mobile nav:

$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

// Background gradient - body:

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated: hsl(237, 23%, 32%);

@mixin white-button {
  background-color: $White-text;
  color: $Light-red;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: $Very-dark-black-blue;
  background-color: $White-text;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  main {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    h1 {
      font-size: 4em;
    }
    h3 {
      font-size: 2rem;
    }

    h3,
    h4 {
      color: $Very-dark-blue-headings;
    }

    h1,
    h3,
    h4 {
      font-weight: 600;
    }

    section {
      padding: 2rem;
      p {
        margin: 2rem;
      }
      .info-container {
        padding: 3rem;
        h4 {
          margin-bottom: 1.8rem;
        }
      }
      h3 {
        text-align: center;
        margin: 2rem;
        margin: 6rem 2rem 0 2rem;
      }

      /* Styles related to the landing section of the application */
      &.landing-section {
        color: $White-text;
        background: $Light-red; /* For browsers that do not support gradients */
        background-image: url(/images/bg-pattern-intro.svg),
          linear-gradient(to right, $Very-light-red, $Light-red);
        background-repeat: no-repeat, no-repeat;
        background-position: 26% 52%, center;
        background-size: 225%, cover;
        border-bottom-left-radius: 6em 6em;
        padding: 2em;
        button {
          border-radius: 2rem;
          font-size: 1em;
          border: 2px solid $White-text;
          padding: 12px 8px;
          font-family: "Overpass", sans-serif;
          font-weight: 600;
          min-width: 8rem;
        }
        .white-button {
          background-color: $White-text;
          color: $Light-red;
        }
        .white-button:hover,
        .default-button {
          background: transparent;
          color: $White-text;
        }
        .default-button {
          &.login {
            border: none;
            &:hover,
            :active {
              -webkit-appearance: none;
              appearance: none;
              text-decoration: underline;
              box-shadow: none;
            }
          }
        }

        /* Navigation Bar styles for the Desktop version */
        .nav-bar-container {
          margin: 1rem 2.5rem;
          .nav-bar {
            .dropdown {
              padding: 8px 0;
              .dropdown-toggle {
                background-color: transparent;
                border: none;
                padding: 0.8rem;
                &:hover {
                  text-decoration: underline;
                }
                &:active:focus,
                &:active,
                &:focus {
                  box-shadow: none;
                }
                &::after {
                  content: url(/images/icon-arrow-light.svg);
                  border-top: 0;
                  position: relative;
                  top: 3px;
                  right: 3px;
                }
              }
              .dropdown-menu {
                border-radius: 10px;
                a:hover {
                  font-weight: 600;
                  background-color: inherit;
                }
              }
              &.show {
                .dropdown-toggle::after {
                  transform: rotate(180deg);
                  top: 28px;
                  left: 6px;
                }
              }
            }
            strong {
              font-weight: 600;
              font-size: 3rem;
              padding: 0 3.8rem 0 1rem;
            }
          }
          .login-container {
            float: right;
          }
        }

        .intro-container {
          text-align: center;
          h1,
          .header-caption,
          .info-btn-container {
            text-align: center;
          }
          h1 {
            margin-bottom: 1rem;
          }
          margin: 6rem 2rem;
          .info-btn-container {
            margin: 2rem;
            button {
              margin: 0.5rem;
            }
          }
          .header-caption {
            color: $White-text;
            font-weight: 300;
          }
        }

        @media screen and (max-width: 376px) {
          background-position: 35% 35%, center;
          padding: 1rem;
          background-size: 300%, cover;
          .intro-container {
            margin: 0;
            padding: 1rem;
            h1 {
              font-size: 2rem;
              margin: 4rem 0 0 0;
              padding: 0 0.5rem;
            }
          }
          .nav-bar-container {
            margin: 0;
            .nav-bar {
              margin: 1.5rem 0;
              padding: 0;
              .dropdown.desktop-version {
                display: none;
              }
              .hamburger-icon {
                background-image: url(/images/icon-hamburger.svg);
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                margin: 12px;
                position: absolute;
                right: 0;
              }
            }
            .modal-dialog {
              top: 15vh;
              .modal-body {
                div {
                  text-align: center;
                  padding: 1rem;
                }
              }
            }
          }
          .login-container {
            display: none;
          }
          .intro-container {
            .header-caption {
              font-size: 1rem;
              padding: 1rem;
            }
            .info-btn-container {
              margin: 1rem 0 6rem 0;
              button {
                font-size: 0.8rem;
                padding: 8px 8px;
              }
            }
          }
        }
      }

      /* Styles related to the Design Future section of the application */
      &.design-future {
        .editor-desk-img {
          position: relative;
          bottom: 6rem;
          left: 3rem;
        }
        .info-container {
          padding: 7.5rem 1rem 5rem 7rem;
        }
        .editor-desk-mobile {
          display: none;
        }
        @media screen and (max-width: 376px) {
          h3 {
            margin: 4rem 1rem 0.5rem 1rem;
          }
          .info-container {
            padding: 1rem;
            h4 {
              margin: 0 2rem 1.8rem 2rem;
            }
          }
          .editor-desk {
            display: none;
          }
          .editor-desk-mobile {
            display: flex;
            justify-content: center;
            padding: 0;
            .editor-desk-mobile-img {
              margin: 2rem 0rem;
              height: 20rem;
              width: 24rem;
            }
          }
        }
      }

      /* Styles related to the State of art section of the application */
      &.state-of-art {
        height: 25rem;
        padding: 0 1rem 3rem 1rem;
        color: $White-text;
        background: $Very-dark-gray-blue; /* For browsers that do not support gradients */
        background-image: url(/images/bg-pattern-circles.svg),
          linear-gradient(
            to right,
            $Very-dark-gray-blue,
            $Very-dark-desaturated
          );
        background-position: -50% 85%, 0 0;
        h3 {
          color: $White-text;
          margin: 1rem 0;
          text-align: left;
        }
        border-bottom-left-radius: 6em 6em;
        border-top-right-radius: 6em 6em;
        background-repeat: no-repeat, no-repeat;
        .info-container {
          float: right;
          padding: 6rem 6rem 3rem 8rem;
        }
        .mobile-phones {
          img {
            position: relative;
            bottom: 17%;
            left: 19%;
          }
        }
        .row,
        .info-container,
        .mobile-phones {
          height: inherit;
        }
        @media screen and (max-width: 376px) {
          margin-top: 10rem;
          background-position: 48% 322%, 0 0;
          background-size: 170%, cover;
          height: 35rem;
          .mobile-phones {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 36%;
            img {
              height: 75%;
              width: 115%;
              left: 0;
              bottom: 0;
            }
          }
          .info-container {
            padding: 1.9rem;
            position: relative;
            bottom: 24rem;
            h3 {
              text-align: center;
            }
          }
        }
      }

      /* Styles related to the source information section of the application */
      &.source-info {
        height: 60rem;
        margin: 5rem 0 8rem 0;
        padding: 2rem 0;
        .row {
          height: inherit;
        }
        .info-container {
          float: right;
          padding-top: 12rem;
          padding-left: 8rem;
        }
        .desktop {
          background-image: url(/images/illustration-laptop-desktop.svg);
          background-position: 71% 10%;
          background-size: 160%;
          background-repeat: no-repeat;
        }
        @media screen and (max-width: 376px) {
          margin: 2rem 0;
          .info-container {
            padding: 0 2.5rem;
          }
          .desktop {
            height: 20rem;
            background-image: url(/images/illustration-laptop-mobile.svg);
            background-position: 50% 50%;
            background-size: 120%;
            background-repeat: no-repeat;
          }
        }
      }

      /* Styles related to the footer or site map section of the application */
      &.footer-container {
        color: $White-text;
        background-color: $Very-dark-black-blue;
        border-top-right-radius: 6em 6em;
        .brand-name {
          font-size: 2.5rem;
          font-weight: 600;
          text-align: center;
          margin: 1rem 0;
        }
      }
      .site-map {
        .menu-columns {
          list-style-type: none;
          display: inline-block;
          vertical-align: top;
          li {
            padding: 0.4rem 6rem;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          .menu-category {
            font-weight: 600;
            padding: 2rem 6rem;
            &:hover {
              cursor: default;
              text-decoration: none;
            }
          }
          &:first-child {
            padding-left: 0;
            li {
              padding-left: 0;
            }
          }
        }
      }
      @media screen and (max-width: 376px) {
        .brand-name {
          margin: 1.5rem 0;
        }
        .site-map {
          .menu-columns {
            display: block;
            padding-left: 0;
            li {
              text-align: center;
            }
            &:first-child {
              li {
                padding-left: 6rem;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 376px) {
    section {
      padding: 1.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    .info-container {
      text-align: center;
      br {
        display: none;
      }
    }
    .modal-backdrop {
      background-color: transparent;
    }
  }
  &.modal-open {
    .hamburger-icon {
      background-image: url(/images/icon-close.svg) !important;
    }
  }
}
